/* Responsive Design */
@media (max-width: 1024px) {
    .container__login {
      width: 90%;
      height: auto;
      grid-template-columns: 1fr; /* Coloca elementos en una sola columna */
      padding: 2rem 1rem;
    }
  
    .login__user, .login__form {
      text-align: center;
    }
  
    .tittle__admin {
      font-size: 20px;
      margin-bottom: 1.5rem;
    }
  
    .form__input {
      width: 90%;
    }
  
    .btn {
        font-size: 1rem; /* Ajusta el texto */
        padding: 0.8rem 1rem; /* Reduce el espaciado interno */
        max-width: 250px; /* Ancho más pequeño */
    }
    .bottom__circle {
      width: 20rem;
      height: 12rem;
    }
  
    .top__circle {
      width: 25rem;
      height: 15rem;
    }
  }
  
  @media (max-width: 768px) {
    .container__login {
      padding: 1rem;
    }
  
    .tittle__admin {
      font-size: 18px;
    }
  
    .form__input {
      font-size: 0.9rem;
      padding: 0.6rem;
    }
  
    .btn {
        font-size: 0.9rem;
        padding: 0.6rem 0.8rem;
        max-width: 180px; /* Reduce el ancho mínimo */
    }
  }
  
  @media (max-width: 480px) {
    .container__login {
      width: 100%;
      padding: 0.5rem;
      grid-template-columns: 1fr;
    }
  
    .welcome__title {
      font-size: 1.8rem;
      padding: 0.5rem;
    }
    .welcome__text{
        font-size: 0.9rem;
        text-align: center;
        transform: translateX(-0.4rem);
    }
    .welcome__image{
       width: 30px;
       margin-top: 1rem;
    }
    .btn {
        font-size: 0.7rem; /* Texto más pequeño */
        padding: 0.5rem 0.5rem; /* Menor espaciado interno */
        width: 100%; /* Ocupa el ancho completo del contenedor */
    }
    .footer .footer__social{
        height: 1rem;
    }
    .footer__icon{
        margin-bottom: 4rem;
    }
   
}
  
   
  


