{% extends "layouts/layout.html" %}
{% load static %}

{% block contenthead %}
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css"/>
    <link rel="stylesheet" href= {% static "css/reset.css" %}>
    <link rel="stylesheet" href= {% static "css/inicios.css" %}>
    <link rel="stylesheet" href= {% static "css/responsive.css" %}>
    <title>Fichas</title>
{% endblock contenthead %}

{% block content %}
    <h1>Buscar por número de Ficha</h1>
    <form method="GET" action="{% url 'buscarFichaInstr'%}">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Buscar por nombre..." name="buscar" id="buscar" value="{{ busqueda }}">
            <button id="search-btn" class="btn-search" type="submit">Buscar</button>
        </div>
    </form>
    {% comment %} <button class="green-button" id="createPersonal" action= "{% url 'crearusu'%}">Crear</button> {% endcomment %}
    {% if busqueda %}

    <table class="table">
    <thead>
        <tr>
            <th>N.Ficha</th>
            <th>Fecha de inicio</th>
            <th>Estado</th>
            <th>Lider</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for ficha in fichas %}
            <tr>
                <td>{{ ficha.num_ficha }}</td>
                <td>{{ ficha.fecha_inicio }}</td>
                {% if ficha.estado == False %}
                    <td>Inactiva</td>
                {% else %}
                    <td>Activa</td>
                {% endif %}
                <td>{{ ficha.documento_user }}</td>
                <td>
                    <a href="{% url 'listarAprendices' ficha.num_ficha %}" class="btn-edit">Ver Aprendices</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No se encontraron resultados</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {{error}}
    {% endif%}
    
    <script src="{% static "js/modal-editarAprendiz.js" %}"></script>
    <script src="{% static "js/responsive.js" %}"></script>
    
{% endblock content %}
