{% extends "layouts/layout.html" %}
{% load static %}

  {% block contenthead %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css"/>
    <link rel="stylesheet" href= {% static "css/reset.css" %}>
    <link rel="stylesheet" href= {% static "css/inicios.css" %}>
    <title>Fichas</title>

  {% endblock contenthead %}

  {% block content %}
    <section class="welcome">
      <h1 class="welcome__title">BIENVENIDO</h1>
      <p class="welcome__text">
        En este portal encontrará un grupo de opciones para crear y subir fichas, así como también actualizar datos de cada usuario como lo es la foto.
      </p>
      <div class="welcome__image">
        <img src="apy" alt="APY icon">
      </div>
    </section>
    <h1>HOLAAAAA P3</h1>

  {% endblock content %}
        
      