{% extends "layouts/layout.html" %}
{% load static %}

{% block contenthead %}
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css"/>
    <link rel="stylesheet" href= {% static "css/reset.css" %}>
    <link rel="stylesheet" href= {% static "css/inicios.css" %}>
    <link rel="stylesheet" href= {% static "css/responsive.css" %}>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Fichas</title>
{% endblock contenthead %}

{% block content %}
    <form method="GET" action="{% url 'personal'%}">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Buscar por nombre..." name="buscar" id="buscar" value="{{ busqueda }}">
            <button id="search-btn" class="btn-search" type="submit">Buscar</button>
        </div>
    </form>
    <button class="green-button" id="createPersonal" action= "{% url 'crearusu'%}">Crear</button>
    {% if busqueda %}

    <table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Username</th>
            <th>Acción</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr id="usuario-{{ usuario.documento }}">
                <td>{{ usuario.first_name }}</td>
                <td>{{ usuario.last_name }}</td>
                <td>{{ usuario.documento }}</td>
                <td>{{ usuario.username }}</td>
                <td><button class="btn-edit" id="editarPersonal" data-id={{usuario.documento}}>Editar</button></td>
                <td><button class="btn-delete" data-documento="{{ usuario.documento }}"  data-url="{% url 'eliminar_usuario' %}">Eliminar</button></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No se encontraron resultados</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {{error}}
    {% endif%}
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="closeButton">&times;</span>
            <h2>Crear Usuario</h2>
            <form method="POST" action="{% url 'crearusu' %}">
                {% csrf_token %}
            
                <div class="mb-3">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
            
                <div class="mb-3">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
            
                <div class="mb-3">
                    {{ form.documento.label_tag }}
                    {{ form.documento }}
                </div>
            
                <div class="mb-3">
                    {{ form.tipo_doc_FK.label_tag }}
                    {{ form.tipo_doc_FK }}
                </div>
            
                <div class="mb-3">
                    {{ form.rol_FK.label_tag }}
                    {{ form.rol_FK }}
                </div>
            
                <!-- Campos ocultos inicialmente -->
                <div class="mb-3" id="username_field" style="display: none;">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
            
                <div class="mb-3" id="password_field" style="display: none;">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
            
                <div class="mb-3" id="email_field" style="display: none;">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
            
                <div class="mb-3" id="ficha_field" style="display: none;">
                    <label for="id_ficha">Ficha</label>
                    <input type="text" id="id_ficha" class="form-control" name="ficha_field" placeholder="Número de Ficha">
                </div>
            
                <button type="submit" class="submit-button">Guardar</button>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="close-button">&times;</span>
            <form id="editForm"action="{% url 'actualizar' %}" method="POST"> 
                {% csrf_token %}
                <input type="hidden" id="editDocumento" name="documento">
                <label for="editFirstName">Nombre:</label>
                <input type="text" id="editFirstName" name="first_name">
                <label for="editLastName">Apellido:</label>
                <input type="text" id="editLastName" name="last_name">
                <label for="editUsername">Usuario:</label>
                <input type="text" id="editUsername" name="username">
                <label for="editPassword">Contraseña:</label>
                <input type="text" id="editPassword" name="password">
                <label for="editRh">RH:</label>
                <select id="editRh" name="rh"></select>
                <label for="editRol">Rol:</label>
                <select id="editRol" name="rol"></select>
                <label for="editTipo">Tipo de Documento:</label>
                <select id="editTipo" name="tipodoc"></select>
                <button type="submit" class="submit-button">Guardar</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static "js/script.js" %}"></script>    
    <script src="{% static "js/scriptJquery.js" %}"></script> 
    <script src="{% static "js/manejomodal.js" %}"></script> 
    <script src="{% static "js/eliminar.js" %}"></script> 
    
{% endblock content %}
