{% extends "layouts/layout.html" %}
{% load static %}
{% block contenthead %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css"/>
  <link rel="stylesheet" href= {% static "css/reset.css" %}>
  <link rel="stylesheet" href= {% static "css/inicios.css" %}>
  <link rel="stylesheet" href= {% static "css/responsive.css" %}>
  <title>Fichas</title>
{% endblock contenthead %}

{% block content %}
  <section class="welcome__1">
    <div class="welcome__container"> 
      <h1 class="welcome__title">FICHA</h1>
      <p class="welcome__text">
      Tener en cuenta lo siguiente al crear una ficha:
      <br>
      1.El numero de Ficha no debe existir
      <br>
      2.Sólo se anexarán a la ficha los aprendices que se 
      encuentren en formación 
      <br>
      3.El archivo de excel deberá tener el formato
      correcto (.cssv)
      <br>
      4. El orden de los datos en el Excel son de suma
      importancia.
      </p>
    </div>
    <div class="welcome__image">
          <img src={% static "imagenes/img-key.png" %} alt="APY icon">
    </div>
    </section>
        <div class="button-container">
          <div class="grey-button">
            <span>Crear una ficha</span>
            <button class="green-button" id="createButton">CREAR</button>
          </div>
        </div>
        <!-- Modal -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="closeButton">&times;</span>
                <h2>Crear Ficha</h2>
                <!-- Formulario -->
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    {% comment %} <button type="submit" class="submit-button">
                        Guardar
                    </button> {% endcomment %}
                  {% comment %} <div class="mb-3">
                      <label for="numeroficha" class="form-label">Número de Ficha</label>
                      <input type="text" class="form-control" id="numeroficha" placeholder="Número Ficha" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                  </div> {% endcomment %}
                  <div class="mb-3">
                      <label for="archivo" class="form-label">Cargar Aprendices</label>
                      <input type="file" class="form-control" id="cargararchivo" placeholder="Cargar archivo">
                  </div>
                  {% comment %} <form method="post" enctype="multipart/form-data">
                      <div>
                          <label for="file">Cargar Fotos</label>
                          <input type="file" id="file" name="file" multiple />
                      </div>
                  </form> {% endcomment %}
      
                  <button type="submit" class="submit-button">Guardar</button>
              </form>
          </div>
      </div>
      <script src="{% static 'js/script.js' %}"></script>

{% endblock content %}

      
          
     