{% extends "layouts/layout.html" %}
{% load static %}

{% block contenthead %}
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css"/>
    <link rel="stylesheet" href= {% static "css/reset.css" %}>
    <link rel="stylesheet" href= {% static "css/inicios.css" %}>
    <link rel="stylesheet" href= {% static "css/responsive.css" %}>
    <title>Fichas</title>
{% endblock contenthead %}

{% block content %}
    <form method="GET" action="{% url 'personal'%}">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Buscar por nombre..." name="buscar" id="buscar" value="{{ busqueda }}">
            <button id="search-btn" class="btn-search" type="submit">Buscar</button>
        </div>
    </form>

    {% if busqueda %}

    <table class="table">
    <h2 class="table-title">Editar Personal</h2>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Acción</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.is_staff }}</td>
                <td>{{ usuario.documento }}</td>
                <td><button class="btn-edit">Editar</button></td>
                <td><button class="btn-delete">Eliminar</button></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No se encontraron resultados</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif%}
{% endblock content %}
