{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sena Carnet</title>
  <link rel="stylesheet" href="assets/fonts/fontawesome-free-6.1.2-web/css/all.min.css"/>
    <link rel="stylesheet" href= {% static "css/reset.css" %}>
    <link rel="stylesheet" href= {% static "css/carnet.css" %}>
    <link rel="stylesheet" href={% static "css/styles.css" %}/>
</head>
<body>
  <div class="background">
    <div class="card card-empty">
      <div class="container">
        <p class="text1-carnet">Este carné es personal e instransferible;</p>
        <p class="text-carnet">identifica al portador como aprendiz del</p>
        <p class="text-carnet">Servicio Nacional de Aprendizaje SENA.</p>
        <p class="text-carnet">El SENA es una entidad que imparte</p>
        <p class="text-carnet">formación técnica profesional y</p>
        <p class="text-carnet">tecnológica que forma parte de la</p>
        <p class="text-carnet">educación superior;se solicita a las</p>
        <p class="text-carnet">autoridades públicas,civiles y militares</p>
        <p class="text-carnet">prestarle al portador toda la</p>
        <p class="text-carnet">colaboración para la realización de las</p>
        <p class="text-carnet">actividades de su aprendizaje.Por</p>
        <p class="text-carnet">disposición de las leyes 418 de 1997,548</p>
        <p class="text-carnet">de 1991, 642 de 2001 y 1106 de 2006,los</p>
        <p class="text-carnet">menores de 18 años de edad y los</p>
        <p class="text-carnet">estudiantes de educación superior no</p>
        <p class="text-carnet">serán incorporados para la prestación</p>
        <p class="text-carnet">del servicio militar.</p>
        <div class="photo-firma">
          <img src="{% static "imagenes/firma.jpeg" %}" alt="Firma" class="fotofir">
        </div>
        <h5 class="firma">FIRMA AUTORIZADA</h5>
        <h5 class="autoriza">Andrés Collazos Robles</h5>
        <p class="text2-carnet">Vence:{{ datos.fecha_vencimiento|date:"d/m/Y"|default:"No asignada" }}</p>
        <p class="text2-carnet">Ficha:{{ datos.num_ficha_fk|default:"No asignada" }}</p>
      </div>
    </div>
    <div class="card">
      <section class="header__carnet">
         <div class="carnet__logo">
            <img src="{% static "imagenes/logosena.png" %} " alt="Logo SENA" class="logo">
          </div>
          <div class="carnet__photo">
            <img src="{{ datos.foto.url }}" alt="Foto"  class="photo">
          </div>
      </section>
        <h2 class="role">{{ datos.rol_FK }}</h2>
        <hr class="lineaverde">
        <h4 class="nombre">{{ datos.first_name }}</h4>
        <h4 class= "apellido">{{ datos.last_name }}</h4>
        <p class="docu">{{ datos.tipo_doc_FK }} {{ datos.documento }}</p>
        <p class="tiposan">RH: {{ datos.rh_FK }}</p>
        <div class="barcode">
            <p class="barcode">|||||||||||||||||||||||||||||||||</p>
        </div>
        <hr class="lineanegra">
        <p class="region">Regional Cauca</p>
        <p class="centro">Centro Agropecuario</p> 
    </div>
  </div>

  <section class="circle__container">
    <div class="top__circle-carnet"></div>
    <a href="{% url "logoutAprendiz" %}" class="back-button">Regresar</a>
    <div class="bottom__circle-carnet"></div>
  </section>
</body>
</html>